/******************** login page ****************/
.login{
    padding-top: 100px;
    padding-bottom: 100px;
}

form{
    padding-bottom: 30px;
}

legend{
    padding-top: 30px;
    padding-bottom: 30px;
}
/******************* end login page ***************/


/**************** navbar ****************/
ul{
    list-style: none;
    display: flex;
}
li{
    padding: 20px;
}
/**************** end navbar **************/



/**************** product page **************/
.thumbnail {
    width: 200px;
}

/**************** end product page ****************/

/*************** success page *********************/
.gif{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
/**************** end success page ****************/
