/******************** login page ****************/
.login{
    padding-top: 100px;
    padding-bottom: 100px;
}

form{
    padding-bottom: 30px;
}

legend{
    padding-top: 30px;
    padding-bottom: 30px;
}

/**************** navbar ****************/
