{% extends 'admin/layout_admin.html.twig' %}

{% block content %}
<h2>Bienvenue admin!</h2>
    <div class="row">
    <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Coordonnées</h3>
        </div>
            <div class="panel-body">
            <p>11 rue de Poissy, 75005 Paris</p>
            <p>Du lundi au samedi de 9h à 20h</p>
            <p>Le dimanche nous sommes à l'entraînement de Quidditch</p>
            <p>tel: 08 36 65 65 65 </p>
            <a href="index.php?section=admin_contact" class="btn btn-primary">Modifier</a>
        </div>
    </div>
    </div>
    </div>

{% endblock %}

{#Voir si on fait les mêmes cards pour les autres sections#}