{% extends 'admin/layout_admin.html.twig' %}
{% import'user/macro_form.html.twig' as form %}

{% block content %}

    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
            <fieldset>
                <legend>Ajouter un produit</legend>
                <form action="index.php?section=admin&page=admin_new_product" method="post" enctype="multipart/form-data">
                    {{ form.update ('nomProduit','Nom du produit',product.nomProduit , 'text') }}
                    {% if errors.nomProduit is defined %}{{ errors.nomProduit }}
                    {% endif %}
                    <div class="form-group">
                    <label for="catProduit">Catégorie du produit</label>
                        <select id="categorie" name="categorie" class="form-control">
                            <option value="friandises">Friandises magiques</option>
                            <option value="farces" >Farces et artifices</option>
                            <option value="accessoires">Accessoires</option>
                            <option value="packs">Packs magiques</option>
                        </select>
                    </div>
                    {{ form.updatearea('descriptionProduit', 'Description du produit', product.descriptionProduit) }}
                    {% if errors.descriptionProduit is defined %}{{ errors.descriptionProduit }}
                    {% endif %}

                    <div class="form-group">
                        <label for="image">Sélectionnez votre image</label>
                        <input name="images[]"type="file" id="image">
                        <p class="help-block">Formats acceptés : jpg, png, gif</p>
                        <p class="help-block">Votre fichier doit être inférieur à 2 MO.</p>

                        <button type="submit" class="btn btn-primary btn-contact">Enregistrer</button>
                        <a href="index.php?section=admin&page=admin_products" class="btn btn-danger ">Annuler</a>
                    </div>

                </form>
            </fieldset>
        </div>
    </div>
{% endblock %}