{% extends 'admin/layout_admin.html.twig' %}
{% import'user/macro_form.html.twig' as form %}

{% block content %}

    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
            <fieldset>
                <legend>Ajouter un produit</legend>
                <form action="index.php?section=admin&page=admin_new_product" method="post">
                    {{ form.update ('nomProduit','Nom du produit',product.nomProduit , 'text') }}
                    {% if errors.nomProduit is defined %}{{ errors.nomProduit }}{% endif %}
                    <div class="form-group">
                    <label for="catProduit">Catégorie du produit</label>
                    <select name="catPro duit" class="form-control">
                        <option name="catProduit" value="friandises"selected>Friandises Magiques</option>
                        <option name="catProduit" value="farces">Farces et Artifices</option>
                        <option name="catProduit" value="accessoires">Accessoires</option>
                        <option name="catProduit" value="packs">Packs</option>
                    </select>
                    </div>
                    {{ form.updatearea('descriptionProduit', 'Description du produit', product.descriptionProduit) }}
                    {% if errors.descriptionProduit is defined %}{{ errors.descriptionProduit }}{% endif %}
                    {#<div class="form-group">#}
                        {#<label for="imgUpload">Sélectionnez votre image</label>#}
                        {#<input type="file" id="imgUpload">#}
                        {#<p class="help-block">Formats acceptés : jpg, png, gif</p>#}
                        {#<p class="help-block">Votre fichier doit être inférieur à 1MO.</p>#}
                    {#</div>#}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-contact">Enregistrer</button>
                        <a href="index.php?section=admin&page=admin_products" class="btn btn-danger ">Annuler</a>
                    </div>

                </form>
            </fieldset>
        </div>
    </div>
{% endblock %}