{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="assets/css/admin.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>

{% endblock %}

{% block nav %}
    <nav>
        <ul>
            <li>
                <a href="index.php?section=admin">
                    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                    <span>Accueil</span>
                </a>
            </li>
            <li>
                <a href="index.php?section=admin&page=admin_products">
                    <i class="fa fa-magic fa-2x" aria-hidden="true"></i>
                    <span>Produits</span>
                </a>
            </li>
            <li>
                <a href="index.php?section=admin&page=admin_contact">
                    <i class="fa fa-map-o fa-2x" aria-hidden="true"></i>
                    <span>Coordonnées</span>
                </a>
            </li>
            <li>
                <a href="index.php">
                    <i class="fa fa-laptop fa-2x" aria-hidden="true"></i>
                    <span>Revenir au site</span>
                </a>
            </li>
            <li>
                <a href="index.php?section=login">
                    <<i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
                    <span>Déconnexion</span>
                </a>
            </li>
        </ul>



    </nav>
{% endblock %}

{% block body %}
    <h1 class="text-center">Administration du site Weasleys' wizard wheezes</h1>
    {% block content %}

    {% endblock %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#produitTables').DataTable();
        } );
    </script>

{% endblock %}
