{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="assets/css/admin.css"/>
{% endblock %}

{% block nav %}
    faire sidebar avec retour accueil et logout
{% endblock %}

{% block body %}
    <h1>Administration du site Weasleys' wizard wheezes</h1>
    {% block content %}
    {% endblock %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
{% endblock %}
