{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="assets/css/admin.css"/>
{% endblock %}

{% block nav %}
 <span>mettre une navbar avec bouton logout</span>
{% endblock %}

{% block body %}
    {% block content %}
    {% endblock %}
{% endblock %}

{% block footer %}
    <footer>Made with love by Nice witches</footer>
{% endblock %}

{% block js %}
{% endblock %}
