{% extends 'user/layout_user.html.twig' %}

{% block content %}
    <div>
        <div class="row">
            <img src="https://media.melty.fr/article-2701023-head-f486981743/harry-potter-warner-bros-studio-tour-interview.jpg"
                 style="width:100%;">
            <div class="row row-titre-cat">
                <hr class="col-md-4 text-center">
                <h2 class="col-md-4 col-xs-12 text-center revelio"> Revelio!</h2>
                <hr class="col-md-4 text-center">
            </div>
        </div>
        <div class="row divspace">
            <div class="col-md-6 col-xs-12 padding-bro">
                <img src="http://images5.fanpop.com/image/photos/25100000/Fred-and-George-fred-and-george-weasley-25159009-500-410.jpg"
                     alt="weasleys" class="bro">
            </div>
            <div class="brothers col-md-6 col-xs-12">
                <p> C'est en 1966 que Fred et Georges Weasley lancent leur première boutique "Weasley Wizzard Wheezes"
                    ou "farces pour sorciers facétieux".
                    Les deux frères ont toujours rêvé de créer leur propre boutique de farces et attrapes, à l'instar de
                    Zonko. Après avoir gagné le Tournoi des Trois Sorciers à la fin de sa quatrième année d'études,
                    Harry Potter décida de donner l'ensemble de l'argent gagné (soit mille Gallions) pour que les
                    jumeaux puissent financer leur projet.
                    L'énorme automate ornant la devanture de la boutique mesure six mètres de haut. On ne sait pas
                    lequel des deux frères a servi de modèle. Georges Weasley prétend que c'est lui car il
                    est "le plus drôle", mais Fred Weasley dit que c'est lui car il est "le plus beau". Le mystère reste
                    donc entier.</p>
            </div>
        </div>
        <div class="row divspace">
            <div class="brothers col-md-6  col-xs-12 ">
                <p>La boutique des frères Weasley est nichée entre les façades ternes, masquées d'affiches, des magasins
                    qui l'entourent,
                    et attire l'œil comme un feu d'artifice. Les passants la regardent ébahis et fascinés. La vitrine de
                    gauche offre une
                    variété d'objets qui éclatent, clignotent, bondissent et hurlent. Celle de droite porte une immense
                    affiche comportant
                    le message suivant : "Vous avez peur de Vous-Savez-Qui ? Craignez plutôt POUSSE-RIKIKI, le
                    constipateur magique qui
                    vous prend aux tripes" ! La boutique est bondée et de nombreuses étagères remplies d'objets divers
                    s'y dressent.
                    L'arrière-boutique est réservée aux marchandises les plus vendues comme les Chapeaux Boucliers,
                    vendus en masse
                    pour le ministère de la Magie.</p>
            </div>
            <div class="col-md-6 col-xs-12">
                <img src="https://images.pottermore.com/bxd3o8b291gf/5KX3sIIsTYeiKEeaqui4gK/f958cdbeb2f37e6d4a21dca793ec1d78/FredGeorgeWeasley_WB_F6_FredGeorgeAtWeasleysWizardWheezes_Still_080615_Land.jpg?w=1200"
                     alt="weasleys" class="bro">
            </div>
        </div>
    </div>
    <div class="retour">
        <i class="fa fa-bolt fa-2x thunder" aria-hidden="true"></i>
        <a href="#">Retour en haut de page</a>
    </div>
    </div>


{% endblock %}