{% extends 'user/layout_user.html.twig' %}

{% block content %}

    <div class="row style="margin-top: 10px;">
        <div class="col-md-12 col-xs-12"><img class="fg"src="https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F14%2F8fb1cbfb-02c0-4853-a197-aa29eb8d346b.jpg">
        </div>
            <div class="col-md-12">
                <h3 class="citation col-xs-12 style="">
                    Fred: "– Le moment est venu d’exercer nos talents dans le monde réel, tu ne crois pas ?"<br /> <br />
                    Georges:"– Sans aucun doute."</h3>
            </div>
    </div>

    <div class="qui_sommes_nous col-xs-12" >
        <h2 class="revelio"> Revelio !</h2>
    </div>

        <div class="row">
        <p class="sommes col-md-6 col-xs-12"> Bonjour à toi, cher Moldu, et bienvenue dans la boutique fantastique <strong>Weasley Wizzard Wheezes</strong>. Imaginée par Fred et Georges Weasley depuis leur adolescence, Weasley Wizzard Wheezes a vu le jour en 1996 à Pré-au-Lard, rue de Traverse.
        Les jumeaux Weasley ont toujours rêvé d'ouvrir le magasin de farces et attrapes, à l'instar de Zonko(célèbre boutique de Pré-au-Lard).
        Ainsi, lors de leur quatrième année d'études, et grâce à Harry (Potter), Fred et Georges ont pu financer et ouvrir leur première boutique de "farces pour sorciers facétieux".
            <br /></p>
            <img class="bonbons col-md-6 col-xs-12" src="https://s3.amazonaws.com/spoonuniversi-wpengine/spoonuniversi/wp-content/uploads/sites/184/2015/12/1-13.jpg">
        </div>

           <div class="row">
               <img class="weasleysface col-md-6 col-xs-12" src="//images5.fanpop.com/image/photos/25100000/Fred-and-George-fred-and-george-weasley-25159009-500-410.jpg" width="100%">
                    <p class="sommes col-xs-12 col-md-6"> Pour les 20 ans de la boutique, les deux frères ont vu les choses en grand et ils ont élu domicile dans la capitale parisienne. Vous allez ainsi avoir l'occasion de découvrir leurs bonbons surprenants et délirants, leurs objets fantasques qui éclatent, vous sautent à la gorge, clignotent ou hurlent.
        Vous allez adorer les oreilles à rallonge, les chapeaux anti gravité, les cartes pour vous apprendre la magie Moldue et tant d'autres choses loufoques et pétillantes.
        Quand à la devanture de la boutique, nous ne savions pas exactement si le personnage est Fred ou Georges. Le premier assure qu'il s'agit de lui car "il est le plus drôle". Le second se vante d'en être  la figure car "il est le plus beau".
        Le mystère reste entier...</p>
           </div>

{% endblock %}