{% extends 'user/layout_user.html.twig' %}
{% import'user/macro_form.html.twig' as form %}

{% block content %}
    <h2>Nous visiter</h2>
    <p>
    11 rue de Poissy
    75005 Paris
    Tous les jours de 9h à 20h
    </p>
    <h2>Nous envoyer une chouette</h2>
    <form action="index.php?section=contact" method="post">
        {{ form.input ('nom','Votre nom','Nom', 'text') }}
        {{ form.input ('prenom','Votre prénom','Prénom', 'text') }}
        {{ form.input ('email','Votre email','sorcier@mail.com', 'email') }}
        {{ form.textarea ('message', 'Votre message', 'Votre message...') }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-contact">Envoyer</button>
        </div>

    </form>
{% endblock %}