{% extends 'base.html.twig' %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="assets/css/style.css"/>
    <link type="text/css" rel="stylesheet" href="assets/css/navbar.css"/>
{% endblock %}

{% block header %}
    <div class="header"><img src="assets/pictures/header_final.png" alt="Weasley's Wizard Wheezes"/></div>
{% endblock %}

{% block nav %}
    <nav class="navbar navbar-inverse">
        <div class="container topBotomBordersOut nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.php" id="logobrand"><img src="assets/pictures/W_logo.png" width="40px">
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index.php" class="effect">Accueil</a></li>
                    <li><a href="index.php?section=concept" class="effect">Concept</a></li>
                    <li><a href="index.php?section=produits" class="effect">Produits</a></li>
                    <li><a href="index.php?section=contact" class="effect">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

{% endblock %}

{% block body %}
    {% block content %}
    {% endblock %}
{% endblock %}

{% block footer %}
    <footer>
        <div class="social-container container ">
            <div class="row">

            <ul>
                <li class="col-xs-2">
                    <a href="mentions_legales.html.twig">Mentions Légales</a>
                </li>
                    <div class="social line-items col-xs-8">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank">
                            <img src="assets/pictures/social_icon_gold/fb.png" alt="Facebook pictogram"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/?lang=fr" target="_blank">
                            <img src="assets/pictures/social_icon_gold/twitter.png" alt="Twitter pictogram"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/?hl=fr" target="_blank">
                            <img src="assets/pictures/social_icon_gold/insta.png" alt="Instagram pictogram"/>
                        </a>
                    </li>
                    </div>

                <li class="col-xs-2">
                    <a href="index.php?section=contact">Nous envoyer une chouette</a></li>

            </ul>
            </div>
        </div>
    </footer>
{% endblock %}

{% block js %}
{% endblock %}