{% extends 'base.html.twig' %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="assets/css/style.css"/>
    <link type="text/css" rel="stylesheet" href="assets/css/navbar.css"/>
{% endblock %}

{% block nav %}
    <nav class="navbar navbar-inverse">
        <div class="container topBotomBordersOut">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.php"><i class="fa fa-home fa-lg" aria-hidden="true"></i>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="effect">Concept</a></li>
                    <li><a href="#" class="effect">Produits</a></li>
                    <li><a href="#" class="effect">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}

{% block body %}
    {% block content %}
    {% endblock %}
{% endblock %}

{% block footer %}
    <footer>user</footer>
{% endblock %}

{% block js %}
{% endblock %}