{% extends 'user/layout_user.html.twig' %}

{% block content %}
    <div class="row row-titre-cat">
        <h2 class="col-md-offset-4 col-sm-offset-4 col-md-4 col-xs-8 categorie">Friandises magiques</h2>
    </div>

    <div class="row row-produits">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/boite_flemme.jpg" alt="friandises" class="vignette_produit" >
            <h3 class="produit">Boite à Flemme</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/nougat.jpg" alt="artifices" class="vignette_produit">
            <h3 class="produit">Nougat</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/pralines.jpg" alt="accessoires" class="vignette_produit" >
            <h3 class="produit">Pralines</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/dragees.jpg" alt="pack magique" class="vignette_produit">
            <h3 class="produit">Dragées</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>
    </div>

{% endblock %}