{% extends 'user/layout_user.html.twig' %}

{% block content %}

    {#Catégorie Friandises magiques    #}
    <div id="Friandises" class="row row-titre-cat">
        <h2 class="col-md-offset-4 col-sm-offset-4 col-md-4 col-xs-8 categorie">Friandises magiques</h2>
    </div>

    <div class="row row-produits">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/boite_flemme.jpg" alt="Boite à flemme" class="vignette_produit" >
            <h3 class="produit">Boite à Flemme</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/nougat.jpg" alt="Nougat" class="vignette_produit">
            <h3 class="produit">Nougat</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/pralines.jpg" alt="Pralines" class="vignette_produit" >
            <h3 class="produit">Pralines</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/dragees.jpg" alt="Dragées Bertie Crochue" class="vignette_produit">
            <h3 class="produit">Dragées</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>
    </div>

    {#Catégorie Farces et artifices   #}
    <div id="Artifices" class="row row-titre-cat">
        <h2 class="col-md-offset-4 col-sm-offset-4 col-md-4 col-xs-8 categorie">Farces et artifices</h2>
    </div>

    <div class="row row-produits">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/boite_flemme.jpg" alt="Ballons" class="vignette_produit" >
            <h3 class="produit">Ballons</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/nougat.jpg" alt="Bomba-bouse" class="vignette_produit">
            <h3 class="produit">Bomba-bouse</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/pralines.jpg" alt="boule puante" class="vignette_produit" >
            <h3 class="produit">Boule Puante</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/dragees.jpg" alt="déflagration deluxe" class="vignette_produit">
            <h3 class="produit">Déflagration Deluxe</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/boite_flemme.jpg" alt="feux-fous Fuse boum" class="vignette_produit" >
            <h3 class="produit">Feux-fous Fuse-boum</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/nougat.jpg" alt="flambée de base" class="vignette_produit">
            <h3 class="produit">Flambée de base</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/pralines.jpg" alt="marécage portable" class="vignette_produit" >
            <h3 class="produit">Marécage portable</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/dragees.jpg" alt="pétards" class="vignette_produit">
            <h3 class="produit">Pétards</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>
    </div>

{#Catégorie Accessoires    #}
    <div id="Accessoires" class="row row-titre-cat">
        <h2 class="col-md-offset-4 col-sm-offset-4 col-md-4 col-xs-8 categorie">Accessoires</h2>
    </div>

    <div class="row row-produits">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/boite_flemme.jpg" alt="Chapeau sans tête" class="vignette_produit" >
            <h3 class="produit">Chapeau sans tête</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/nougat.jpg" alt="Crème Canari" class="vignette_produit">
            <h3 class="produit">Crème Canari</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/pralines.jpg" alt="Fausse baguette" class="vignette_produit" >
            <h3 class="produit">Fausse baguette</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/dragees.jpg" alt="Oreille extensible" class="vignette_produit">
            <h3 class="produit">Oreille extensible</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>
    </div>

{#Catégorie Pack Magiques    #}
    <div id="Pack" class="row row-titre-cat">
        <h2 class="col-md-offset-4 col-sm-offset-4 col-md-4 col-xs-8 categorie">Packs Magiques</h2>
    </div>

    <div class="row row-produits">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/pack_disparition_.jpg" alt="Pack disparition" class="vignette_produit" >
            <h3 class="produit">Disparition</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center espace">
            <img src="assets/pictures/categoriesetproduits/page_produits/pack_explosion.jpg" alt="Pack Allumez le feu" class="vignette_produit">
            <h3 class="produit">Allumez le feu</h3>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>

    </div>
    <div class="retour">
    <a href="#">Retour en haut de page</a>
    </div>

{% endblock %}