{% extends 'user/layout_user.html.twig' %}

{% block content %}

    <div class="text-center visit">
        <h2>Nous visiter</h2>
        <p>11 rue de Poissy, 75005 Paris</p>
        <p>Du lundi au samedi de 9h à 20h</p>
        <p>Le dimanche nous sommes à l'entraînement de Quidditch</p>
        <p>tel: 08 36 65 65 65 </p>
    </div>
    <h2 class="text-center">Nous envoyer une chouette</h2>
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">

        </div>
    </div>
    <h1>Hello, je suis le produit</h1>
{% endblock %}