{% extends 'user/layout_user.html.twig' %}

{% block content %}
    <div>
        <h2>Merci pour votre message</h2>
        <h3>Hedwige est en route!</h3>
        <img src="https://media.giphy.com/media/iVoiJfBtSsi0o/giphy.gif" alt="owl_deliver_message">

    </div>

{% endblock %}